<a href="https://colab.research.google.com/github/SrijanxxxSharma/Heart_disease_classification/blob/main/Copy_of_Heart_disease_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Heart disease dataset**

### This data set can be found in my Github repository as __.

Looking at the data it is quite clear that this is a classification problem(target column is a categorical column). 8 of its columns are categorical(0,1,2,3...) while remaining 5 are continuous numeric column.

  Since we don't have a lot of features we won't use any DR(dimension reduction). We'll just scale 5 of our features which are continuous(standardizing).

In [ ]:
import pandas as pd
import numpy as np
url = "https://github.com/SrijanxxxSharma/Heart_disease_classification/raw/main/heart-disease-dataset.csv"
raw_data=pd.read_csv(url)
raw_data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   52    1   0       125   212    0  ...      0      1.0      2   2     3       0
1   53    1   0       140   203    1  ...      1      3.1      0   0     3       0
2   70    1   0       145   174    0  ...      1      2.6      0   0     3       0
3   61    1   0       148   203    0  ...      0      0.0      2   1     3       0
4   62    0   0       138   294    1  ...      0      1.9      1   3     2       0

[5 rows x 14 columns]

Now we extract continuous variables and convert them to numpy array to scale them.

In [ ]:
#extracting continuous variables
target=raw_data.target

continuous_data=[raw_data[members].to_numpy() for members in ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']]

#scaling
name=['Scaled_age', 'Scaled_trestbps', 'Scaled_chol', 'Scaled_thalach', 'Scaled_oldpeak']
i=0
for feature in continuous_data:
  new=4*(feature-np.min(feature))/(np.max(feature)-np.min(feature))
  #new=(4*feature-feature.mean())/feature.std()
  raw_data=pd.concat([raw_data,pd.DataFrame(new, columns = [name[i]])], axis=1)
  i+=1
columns=['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
raw_data.drop(columns,inplace=True,axis=1)
print(raw_data)